header{background-color: blue;
width: 100%; 
padding: 30px;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
border-bottom: solid black 3px;}


footer {background-color: gray;
    width: 100%; padding: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: solid black 3px;}

div {
    position: relative;
    top: 250px;
    bottom: 250px; 
    left: 700px;
    margin: auto; 
    width: 100%;
}

button { background-color: red; 
    color: white; 
    position: absolute; 
    left: 120px; 
    border: solid white;
    }

